{% extends 'app.html.twig' %}

{% block content %}
    <div>
        <div>
            Аудиторія: {{ auditory.auditory_number }}
        </div>

        <div>
            Тип аудиторії: {{ auditory.auditory_type }}
        </div>

        {% include 'events/events_list.html.twig' with {'events' : auditory.events, 'message': 'Події які будуть відбуваються в цій аудиторії'}%}
    </div>
{% endblock %}