{% extends "admin/admin.html.twig" %}

{% block content %}
    <div>
        <div>
            <h3 align="center">Додавання нової аудиторії</h3>
        </div>
        <form action="{{ path('store_auditory') }}" method="POST" class="form-horizontal">
            <div class="form-group">
                <label for="auditory_number" class="col-sm-2 control-label">Номер аудиторії</label>

                <div class="col-sm-9">
                    <input type="text" id="auditory_number" name="auditory_number" class="form-control" placeholder="Введіть номер аудиторії"/>
                </div>
            </div>

            <div class="form-group">
                <label for="auditory_type" class="col-sm-2 control-label">Тип аудиторії</label>

                <div class="col-sm-9">
                    <select id="auditory_type" name="auditory_type" class="form-control">
                        <option value="0">Лабораторна</option>
                        <option value="1">Лекційна</option>
                        <option value="2">Інший</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-2">
                    <button type="submit" class="btn btn-success">Створити</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}