{% extends 'admin/admin.html.twig' %}

{% block content %}
    <div>
        <form action="{{ path('story_group') }}" method="POST">
            <div>
                <label for="group_name">
                    Назва групи
                </label>
                <div>
                    <input type="text" id="group_name" name="group_name" />
                </div>
            </div>
            <div>
                <label for="group_name">
                    Рік вступу
                </label>
                <div>
                    <input type="number" id="group_course" name="group_course" min="2000" max="2015" />
                </div>
            </div>
            <div>
                <label for="group_name">
                    Кількість студентів групи
                </label>
                <div>
                    <input type="text" id="group_students_count" name="group_students_count" />
                </div>
            </div>
            <div>
                <button type="Зберегти">Зберегти</button>
            </div>
        </form>
    </div>
{% endblock %}